# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environments
venv/

# MacOS
.DS_Store

#input data
data/input/device-510k.json
data/input/device-pma.json